<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mochainc.imagnition">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAc0sVS9vjEuSTdsbPA-rGtSa3Y4-ce-V0" />

        <activity
            android:name=".Gallery"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageFullScreen"
            android:parentActivityName=".Gallery" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Collections"
            android:parentActivityName=".Gallery"
            android:theme="@style/slideLayout" />

        <activity
            android:name=".Search"
            android:parentActivityName=".Gallery"
            android:screenOrientation="portrait"
            android:theme="@style/slideLayout" />

        <activity
            android:name=".PhotoTag"
            android:theme="@style/slideLayout" />

        <service
            android:name=".GeocodeAddressIntentService"
            android:exported="false" />

    </application>

</manifest>